<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Изменение пароля</title>
    <script src="/js/validatePasswordField.js"></script>

</head>
<body>
	<%- include("../partials/header.ejs") -%>
	<div class="container mt-5">
	    <h2> Смена пароля </h2>

		<form method="POST" onsubmit="return validateForm()">
		<div class="form-group">
		  <label for="oldPassword">Старый пароль:</label>
		  <input type="password" class="form-control" id="oldPassword" minlength='5' maxlength='15' name="oldPassword" required>
		  <div class="invalid-feedback">
		    Пожалуйста, введите старый пароль.
		  </div>
		</div>

		<div class="form-group">
		  <label for="newPassword">Новый пароль:</label>
		  <input type="password" class="form-control" id="newPassword"  minlength='5' maxlength='15' name="newPassword" required>
		  <div class="invalid-feedback">
		    Пожалуйста, введите новый пароль.
		  </div>
		</div>

		<div class="form-group">
		  <label for="confirmPassword">Подтвердите новый пароль:</label>
		  <input type="password" class="form-control" id="confirmPassword" minlength='5' maxlength='15' name="confirmPassword" required>
		  <div class="invalid-feedback" id="passwordMismatch">
		    Пароли не совпадают.
		  </div>
		</div>
		<br>
		<button type="submit" class="btn btn-primary"> Подтвердить </button>
		</form>
	</div>
	<%- include("../partials/footer.ejs") -%>

</body>
</html>