<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<title>Sign up</title>
</head>
<body class="d-flex flex-column min-vh-100">
	<%- include("../partials/header.ejs") -%>	
	<div class="container">
		Register
	</div>
	<%- include("../partials/footer.ejs") -%>
</body>
</html>