<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<title> Обновить </title>
	<script src="\js\imagePreview.js"></script>
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #f8f9fa;">
	<%- include("../partials/header.ejs") -%>
	<% if (auth) { %>
	<div class="container mt-5" style="max-width: 650px;">
	  <div class="profile-container">
	    <h2>Профиль</h2>
	      	<img src="<%= imageSource %>" onerror="this.src='..\\images\\default_avatar.jpg' "class="card-img-top mb-2" id="userImage" height='400'> 
	    <div id="userProfile">
	      <form method="POST" enctype="multipart/form-data">
	        <div class="form-group">
	          <label for="newName">Новое имя:</label>
	          <input type="text" class="form-control" id="newName" name="name">
	          <div class="invalid-feedback">
	            Пожалуйста, введите ваше новое имя.
	          </div>
	        </div>
	        
	        <div class="form-group">
	          <label for="newSurname">Новая фамилия:</label>
	          <input type="text" class="form-control" id="newSurname" name="surname">
	          <div class="invalid-feedback">
	            Пожалуйста, введите вашу новую фамилию.
	          </div>
	        </div>

	        <div class="form-group">
	          <label for="confirmPassword">Пароль:</label>
	          <input type="password" class="form-control" id="confirmPassword" name="password" minlength="5" maxlength="15" required>
	          <div class="invalid-feedback" id="passwordMismatch">
	            Пароль должен быть от 5 до 15 символов.
	          </div>
	        </div>
	        <br>
	        <div class="custom-file mb-2">
	            <div class="input-group mb-3">
				  <input type="file" class="form-control" id="inputGroupFile01" onchange="previewFile()" name="image" accept="image/*">
				</div>
		    </div>
	        <br>
	        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
	      </form>
	      
	    </div>
	  </div>
	</div>	
	
	<% } else { %>
		<p> Error </p>
	<% } %>
	<%- include("../partials/footer.ejs") -%>
</body>
</html>