<div id='error400' class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
    <i class="bi-exclamation-octagon-fill"></i>
    <strong class="mx-2"> User not found !! Check your password or email</strong> 
</div>
