<div id='error' class="alert alert-danger alert-dismissible d-flex align-items-center fade show flex justify-content-center h2">
    <i class="bi-exclamation-octagon-fill"></i>
    <strong class="mx-2">Error </strong> 
</div>
