<div id="successMessage" class="alert alert-success shadow" role="alert" style="border-left:#155724 5px solid; border-radius: 0px; display:none;" >
	<div class="row">
	  	<p style="font-size:18px" class="mb-0 font-weight-light"><b class="mr-1">  Success! </b></p>
	</div>
</div>
<script>
	async function showSuccess(argument) {
	let successMessage = document.querySelector("#successMessage");
	const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay))
	successMessage.style.display = "flex";
	await sleep(1500)	
	successMessage.style.display = "none";

}
</script>