body {
  background-color: #f8f9fa;
}

a { text-decoration: none; color: white; }

a:hover .navbar-brand:hover { color: white; }

.navbar-brand { color: blue}

.comment-info {
  color: #555;
  font-size: 14px;
  margin-bottom: 5px;
}
.comment-text {
  font-size: 20px;
}
.custom-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #ddd; /* Цвет линии */
}
.card-img-top { 
	image-rendering: optimizeQuality;
 }