body {
    background-color: #f8f9fa;
}
.container {
    text-align: center;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h3, h5 {
    color: #007bff;
}