<html lang="en">
<head>
	<%- include("../partials/head.ejs") -%>
	<title> Создайте свою статью </title>
</head>
<style> form {margin: 50px;} </style>
<body>	
	<%- include("../partials/header.ejs") -%>
	<%- include("../partials/successMessage.ejs") -%>	
	<div class="container">
		<p id='titleForm' class='mt-5 h3'> Создайте свою статью </p>

		<form onsubmit="showSuccess()" method="POST" id="uploadForm" enctype="multipart/form-data">
			<div class="mb-3">
				<div class="container mt-5">

		    <div class="form-group">
		      <label for="photo">Выберите фотографию:</label><br>
		      <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*" required>
		    </div>
			</div>
			  <label for="exampleFormControlInput1" class="form-label"> Заголовок </label>
			  <input type="text" class="form-control" id="exampleFormControlInput1" required name='title'>
			</div>
			<div class="mb-3">
			  <label for="exampleFormControlTextarea1" class="form-label"> Текст </label>
			  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name='text'></textarea>
			</div>
			<button type="submit" class="btn btn-primary btn-lg"> Опубликовать </button>
		</form>
	</div>
	<%- include("../partials/footer.ejs") -%>
</body>
</html>